* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff'),
        url('CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

header {
    background: #343B7A;
}
main {
    margin-top: 5vw;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 14vw;
    margin-right: 9vw;
    text-align: center;
    height: 4vw;

}

nav h1 {
    font-family: Century Gothic, sans-serif;
    font-size: 1.2vw;
    color: #E6E5FF;
}

nav .menu a {
    font-family: Century Gothic, sans-serif;
    font-size: 1.2vw;
    color: #E6E5FF;
    text-decoration: none;
    font-weight: bold;
    margin-left: 0.8vw;
}

.menu {
    display: flex;
}

.effect-nav {
    padding: 0 20px;
    height: 40px;
    color: #ffffff;
    line-height: 40px;
}

.effect-nav a {
    position: relative;
    display: inline-block;

}


.effect-nav a::before,
.effect-nav a::after {
    position: absolute;
    width: 40px;
    height: 2px;
    background-color: #ffffff;
    content: "";
    opacity: 0.2;
    transition: all 0.3s;
}

.effect-nav a::before {
    top: 0;
    left: -10px;
    transform: rotate(90deg);
    transform-origin: 0 0;
}

.effect-nav a::after {
    right: -10px;
    bottom: 0;
    transform: rotate(90deg);
    transform-origin: 100% 100%;
}

.menu .effect-nav:nth-child(2) a::before {
    left: 50%;
    opacity: 1;
    transform: rotate(0deg) translateX(-50%);
}

.menu .effect-nav:nth-child(2) a::after {
    right: 50%;
    opacity: 1;
    transform: rotate(0deg) translateX(50%);
}

.effect-nav a:hover::before {
    left: 50%;
    opacity: 1;
    transform: rotate(0deg) translateX(-50%);
}

.effect-nav a:hover::after {
    right: 50%;
    opacity: 1;
    transform: rotate(0deg) translateX(50%);
}

footer {
    background: #343B7A;
    margin-top: 7vw;
}

.adress {
    margin-right: 7vw;
    margin-left: 7vw;
    display: flex;
    align-items: center;
    height: 4vw;
    justify-content: space-between;

}

.adress p {
    text-align: right;
    font-family: Century Gothic, sans-serif;
    font-size: 1vw;
    color: #E6E5FF;

}


.not-bottom {

    margin-bottom: 0 !important;
    
}
.about {
    display: flex;
    justify-content: space-between;
    margin-right: 7vw;
    margin-left: 7vw;
   margin-bottom: 8vw;
    
}

.text {
    width: 60vw;
    margin-left: 4vw;
    margin-top: 2vw;
}

.text p {
    text-align: justify;
    font-family: Century Gothic, sans-serif;
    font-size: 1.455vw;
    text-indent: 1vw;

}

.img {
    width: 70vw;
    margin-top: 2vw;
}

.img-2 {
    width: 70vw;
    margin-top: 2vw;
    margin-left: 4vw;
}

.text-2 {
    width: 60vw;

    margin-top: 2vw;
}

.text-2 p {
    text-align: justify;
    font-family: Century Gothic, sans-serif;
    font-size: 1.455vw;
    text-indent: 1vw;

}

.title {
    background: #343B7A;
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    height: 4vw;
    align-items: center;
    padding-right: 2vw;
    margin-top: 4vw;
    border-radius: 0 0.5vw 0.5vw 0;
    animation-name: title;
    position: relative;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}

.title-2 {
    background: #343B7A;
    width: 20vw;
    display: flex;
    justify-content: flex-start;
    height: 4vw;
    align-items: center;
    padding-left: 2vw;
    margin-top: 4vw;
    border-radius: 0.5vw 0 0 0.5vw;
    animation-name: title-2;
    position: relative;
    margin-left: 76.7vw;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: none;

}

@keyframes title {
    0% {
        left: -25vw;

    }

    100% {
        left: 0;
    }
}

@keyframes title-2 {
    0% {
        left: 25vw;

    }

    100% {
        left: 0;

    }
}

.title-3 {
    background: #343B7A;
    width: 20vw;
    justify-content: flex-end;
    height: 4vw;
    align-items: center;
    padding-right: 2vw;
    margin-top: 4vw;
    border-radius: 0 0.5vw 0.5vw 0;
    animation-name: title;
    position: relative;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    display: none;

}

h3 {
    font-family: Century Gothic, sans-serif;
    font-size: 1.6vw;
    color: #E6E5FF;
}

.dop-text {
    margin-right: 7vw;
    margin-left: 7vw;
        text-align: justify;
    font-family: Century Gothic, sans-serif;
    font-size: 1.455vw;
    margin-top: -0.5vw;
   
}
.text-3 {
    width: 60vw;
    margin-left: 4vw;
    margin-top: 2vw;
}

.text-3 p {
    text-align: justify;
    font-family: Century Gothic, sans-serif;
    font-size: 1.47vw;
    text-indent: 1vw;

}
